<sly data-sly-use.model="com.worldline.core.models.PageSelectorModel"></sly>
<sly data-sly-use.model="com.worldline.core.models.GoogleDataModel">
    ${model.headTags ? model.headTags : '' @ context='unsafe'}
</sly>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" data-sly-test="${pageProperties.redirectTarget}" content="0; url=${pageProperties.redirectTarget}"/>
<sly data-sly-use.model="com.worldline.core.models.BrandModel">
<title>${model.showBrand ? model.brand : ''} ${model.browserTabTitle ? model.browserTabTitle : (pageProperties.sling:alias ? pageProperties.sling:alias : currentPage.title)}</title>
<sly data-sly-test="${model.brandKey == 'worldline' || !model.brandKey }">
    <meta name="keywords"  data-sly-use.keywordModel="com.worldline.core.models.KeywordModel" content="${keywordModel.keywords}"/>
    <meta name="description" content="${pageProperties.jcr:description}"/>
    <!--[if gt IE 10]>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/designs/gotomarket/images/mobile-icons/favicon.ico" />
    <![endif]-->
    <!-- for IOS Device-->
    <link rel="apple-touch-icon" sizes="44x44" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-44x44.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-180x180.png"/>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/designs/gotomarket/images/mobile-icons/favicon-196x196.png"/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/etc/designs/gotomarket/images/mobile-icons/favicon-196x196.png"/>
    <!--[if IE11]>
    <link rel="icon" sizes="196x196" href="/etc/designs/gotomarket/images/mobile-icons/favicon-196x196.png" />
    <![endif]-->
    <!-- for android -->
    <link rel="icon" sizes="120x120" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-120x120.png"/>
    <link rel="icon" sizes="192x192" href="/etc/designs/gotomarket/images/mobile-icons/worldline-bookmark-icon-192x192.png"/>
</sly>
<sly data-sly-test="${model.brandKey == 'equensWorldline'}">
    <meta name="keywords" content="${pageProperties.keywords}"/>
    <meta name="description" content="${pageProperties.jcr:description}"/>
    <!--[if gt IE 10]>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/designs/gotomarket/images/mobile-icons/eW.ico" />
    <![endif]-->
    <!-- for IOS Device-->
    <link rel="apple-touch-icon" sizes="44x44" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-44x44.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-180x180.png"/>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/designs/gotomarket/images/equens-worldline/favicon-196x196.png"/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/etc/designs/gotomarket/images/equens-worldline/favicon-196x196.png"/>
    <!--[if IE11]>
    <link rel="icon" sizes="196x196" href="/etc/designs/gotomarket/images/equens-worldline/favicon-196x196.png" />
    <![endif]-->
    <!-- for android -->
    <link rel="icon" sizes="120x120" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-120x120.png"/>
    <link rel="icon" sizes="192x192" href="/etc/designs/gotomarket/images/equens-worldline/equensworldline-bookmark-icon-192x192.png"/>
</sly>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvpx3nlI4QjdRi3HubSZxcaoXH3g7FBMY" async defer></script>
</sly>