<div class="grid-row"
     data-parent-aside-style="background-image:url('${properties.backgroundImagePath ? properties.backgroundImagePath : 'content/dam/gotomarket/uploads/bg-aside-quote.jpg' @ context='styleString'}');">
    <div class="grid-col-5 grid-offset-6">
        <h2 class="quote--source-name">${properties.title ? properties.title : 'Clothilde Leurent'}</h2>
        <span class="quote--source-function">${properties.subTitle ? properties.subTitle : 'GLOBAL DIRECTOR'}</span>
        <blockquote>
            ${properties.text ? properties.text : 'Lorem ipsum dolor sit amet, consect ad ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim a minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute.' @ context='html'}
        </blockquote>
    </div>
</div>


