<div class="grid-row">
    <div class="grid-col-12">
        <p>
            <strong>
                ${pageProperties.jcr:description ? pageProperties.jcr:description : 'Bezons, May 26th, 2017 – Donec ut interdum nibh, vel hendrerit ex. Sed venenatis urna odio, maximus cursus odio dictum id. Cras eleifend ornare vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et molestie odio. Curabitur sed arcu dui. Etiam rhoncus, nunc ac feugiat imperdiet, nibh lectus maximus sem, nec venenatis purus nibh vel ligula. Aliquam dapibus placerat vestibulum'}
            </strong>
        </p>
    </div>
</div>