<noscript>
    <div class="message--warning">
        <p class="message--warning-content">
            <strong>${properties.infoWarning ? properties.infoWarning : 'Warning'}</strong>
            <span>${properties.infoNoscript ? properties.infoNoscript : 'JavaScript is disabled on your browser. For a better experience, please enable it.'}</span></p>
    </div>
</noscript>
<div class="message--warning" >
    <p class="message-warning-content">
        <strong>${properties.infoTitle ? properties.infoTitle : 'Information'}</strong>
        <span>${properties.infoText ? properties.infoText : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...'}
            <a class="message-warning-link" href="${properties.infoLink ? properties.infoLink : '#'}">${properties.infoLinkText ? properties.infoLinkText : 'Read more'}</a>
        </span>
    </p>
</div>
